/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    /* Background color same as other pages */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navigation bar styles */
nav {
    background-color: #333;
    /* Navigation bar color same as other pages */
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Research Papers section styles */
#research-papers {
    padding: 50px 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    li {
        padding: 10px;
    }
}